*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.logoandsub span{
    color: #e5e7eb;
}
.up{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 33vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    margin: 10px;
    
}
.logo{
    font-size: 21px;
    color: #f9faf8;
    font-weight: 800;
}

.logoandsub{
    display: flex;
    flex-direction: column;
}

.tandsub{
display: flex;    
flex-direction: column;
}
.subtitle{
    justify-content: start;
    width: 400px;
    color:#e5e7eb;
}

ul{
    list-style: none;
    display: flex;
    gap: 5px;
}

.testimonial{
    height: 27vh;
    background-color: #e5e7eb;
    align-items: center;
    font-size: 36px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: lighter;
    padding: 20px;
    box-sizing: border-box;
}
.testimonial p{
padding: 25px;    
}
.testimonial p span{
  text-align: right;}

h1{
    font-size: 25px;
    font-weight: 700;
    color:#f9faf8;
}


.upper{
    
    margin-left:  80px ;
    margin-right:  80px ;
    padding: 25px;
    display: flex;
    align-content: center;
    /* justify-content: center; */

    

}

.placeholder{
    max-height: 400px;
    max-width: 450px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.info{
    text-align: center;
    padding: 25px;
    font-size: 26px ;
    font-weight: 600;
}

.infotainer{
    display: flex;
    flex-direction: column;
}

.infoboxes{
    display: flex;
    gap: 10px;
    height: 20vh;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    flex-grow: 0;
    
}
.infoboxes img{
    border-style: solid;
    border-radius: 7px;
    border-color: #3882f6 ;
}

.saturn, .poison, .trex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 15px;
    text-align: center;
    background-size: 100%;
    

}
footer {
    background-color: #1f2937;
    height: 30px;
    color: #e5e7eb;
    text-align: center;
    font-size: 15px;
    font-weight:lighter;
}
footer span{
    font-size: 8px;
    margin-left: 20px;
}
.ctasec{
    background-color: #ffff;
}
.ctacont{
    background-color: #3882f6;
    padding: 20px;
    margin:  40px 80px 40px 80px;
    border-radius: 5px;


    
}